* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  padding: 5px;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  background-color: rgb(204, 204, 204);
  height: 118px;
}
@media all and (min-width: 1000px) {
  .header {
    grid-template-rows: 1fr;
    height: 87px;
  }
}
.header picture {
  align-self: center;
  grid-column: 2;
  grid-row: 1;
}
.header #searchProductInput {
  margin-top: 5px;
  grid-column: 2/12;
  grid-row: 2;
  align-self: center;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 40px;
  border: none;
}
@media all and (min-width: 1000px) {
  .header #searchProductInput {
    height: 50px;
    grid-column: 4/10;
    grid-row: 1;
  }
}
.header .cartBTN {
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../img/carrito-icon-off.png);
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  justify-self: end;
  align-self: center;
  width: 40px;
  height: 40px;
  grid-column: 10;
  grid-row: 1;
}
.header .cartBTN:hover {
  background-image: url(../img/carrito-icon.png);
}
@media all and (min-width: 1000px) {
  .header .cartBTN {
    height: 50px;
    width: 50px;
    grid-column: 11;
  }
}

.imgHeader {
  -ms-flex-item-align: center;
      align-self: center;
  height: 40px;
  width: 40px;
}
@media all and (min-width: 700px) {
  .imgHeader {
    height: 40px;
    width: 186.02px;
  }
}
@media all and (min-width: 1000px) {
  .imgHeader {
    height: 70px;
    width: 325.54px;
  }
}

.mainBody {
  margin-top: 118px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
}
@media all and (min-width: 1000px) {
  .mainBody {
    margin-top: 87px;
  }
}

.pageSale {
  grid-column: 1/13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pageSale .bienvenida {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #009836;
  width: 100%;
  height: 1.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}
.pageSale .bienvenida p {
  -ms-flex-item-align: center;
      align-self: center;
}
@media all and (min-width: 485px) {
  .pageSale .bienvenida {
    font-size: 1.3rem;
  }
}
.pageSale .promotions {
  display: grid;
  width: 100%;
  aspect-ratio: 19.8/3.3;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  overflow: hidden;
}
.pageSale .promotions img {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  aspect-ratio: 19.8/3.3;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.pageSale .promotions #img2 {
  opacity: 0;
  left: 100%;
}
.pageSale .promotions .active {
  opacity: 1 !important;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.sucursalsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-column: 1/13;
  grid-row: 2;
  height: 300px;
  padding: 20px;
  background-color: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media all and (min-width: 600px) {
  .sucursalsContainer {
    height: 200px;
  }
}
@media all and (min-width: 1024px) {
  .sucursalsContainer {
    height: 130px;
  }
}
.sucursalsContainer .sucursal {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40%;
  min-height: 100px;
  margin-top: 20px;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #e4e4e4;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 27px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 0px 27px 1px rgba(0, 0, 0, 0.26);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
@media all and (min-width: 600px) {
  .sucursalsContainer .sucursal {
    height: 80%;
    width: 40%;
  }
}
@media all and (min-width: 1024px) {
  .sucursalsContainer .sucursal {
    margin-top: 0;
    width: 40%;
    height: 80%;
  }
}
.sucursalsContainer .sucursal img {
  height: 40%;
  -ms-flex-item-align: center;
      align-self: center;
}
@media all and (min-width: 1024px) {
  .sucursalsContainer .sucursal img {
    height: 60%;
  }
}
.sucursalsContainer .sucursal .sucursalInfo {
  width: 55%;
  -ms-flex-item-align: center;
      align-self: center;
  height: 40%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: content;
  font-size: 1.2rem;
}
@media all and (min-width: 340px) {
  .sucursalsContainer .sucursal .sucursalInfo {
    height: 40%;
    width: 50%;
  }
}
@media all and (min-width: 1024px) {
  .sucursalsContainer .sucursal .sucursalInfo {
    height: 60%;
    width: 50%;
  }
}
.sucursalsContainer .sucursal .sucursalInfo h1 {
  width: 100%;
  display: inline-block;
  font-family: sans-serif;
  font-size: 1rem;
}
@media all and (min-width: 1024px) {
  .sucursalsContainer .sucursal .sucursalInfo h1 {
    font-size: 1.3rem;
  }
}
.sucursalsContainer .sucursal .sucursalInfo a {
  width: 100%;
  font-family: sans-serif;
  text-decoration: none;
  color: #858585;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-size: 0.8rem;
}
@media all and (min-width: 1024px) {
  .sucursalsContainer .sucursal .sucursalInfo a {
    font-size: 1.1rem;
  }
}
.sucursalsContainer .sucursal .sucursalInfo a:hover {
  color: #009836;
}

#mainBodyShop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-column: 1/13;
  grid-row: 3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background-color: rgb(226, 226, 226);
}
@media all and (min-width: 1000px) {
  #mainBodyShop {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.productCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
  width: 80%;
  max-width: 279px;
  background-color: #fff;
  border: 2px solid rgb(228, 228, 228);
  height: 300px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 20px;
}
.productCard .productImg {
  width: 80%;
  justify-self: center;
}
.productCard .productName {
  opacity: 0;
  width: 100%;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}
@media all and (max-width: 900px) {
  .productCard .productName {
    opacity: 1;
  }
}
.productCard .productPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 80%;
  font-size: 1.2rem;
  font-family: sans-serif;
}
.productCard .productPrice .p {
  display: inline-block;
}
.productCard .productPrice .productPriceNumber {
  display: inline-block;
  color: #009836;
  font-size: 1.2rem;
}
.productCard:hover {
  -webkit-box-shadow: 0px 0px 27px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 0px 27px 1px rgba(0, 0, 0, 0.26);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
@media all and (min-width: 600px) {
  .productCard {
    width: 40%;
  }
}
@media all and (min-width: 900px) {
  .productCard {
    width: 27%;
  }
}

#cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0;
  position: fixed;
  right: -100%;
  top: 87px;
  z-index: 10;
  width: 100%;
  height: 80vh;
  background-color: #fff;
  border-bottom-left-radius: 20px;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  box-shadow: -11px 11px 14px -2px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: -11px 11px 14px -2px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: -11px 11px 14px -2px rgba(0, 0, 0, 0.43);
}
@media all and (min-width: 1000px) {
  #cart {
    width: 65%;
  }
}
#cart #bodyCarrito {
  height: 85%;
  width: 100%;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: scroll;
}
#cart #bodyCarrito .productoCarrito {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0.5em;
  border: 2px solid #527eef;
  margin: 0.5em;
}
#cart #bodyCarrito .productoCarrito .imagenProductoCarrito {
  height: 100%;
  aspect-ratio: 1/1;
  width: auto;
  border: 1px solid #527eef;
  border-radius: 70px;
  -ms-flex-item-align: center;
      align-self: center;
}
#cart #bodyCarrito .productoCarrito .nombreProductoCarrito {
  width: 40%;
}
#cart #bodyCarrito .productoCarrito .cantidadProductoCarrito {
  display: inline-block;
  width: 20%;
  -ms-flex-item-align: center;
      align-self: center;
}
#cart #bodyCarrito .productoCarrito .totalPrecioProductoCarrito {
  width: 20%;
}
#cart #bodyCarrito .productoCarrito p {
  display: inline-block;
  font-family: sans-serif;
  font-size: 1rem;
  color: #323d85;
  -ms-flex-item-align: center;
      align-self: center;
}
#cart #bodyCarrito .productoCarrito button {
  cursor: pointer;
  margin: 0 0.5em;
  width: 20px;
  height: 20px;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 20px;
}
#cart #bodyCarrito .productoCarrito .eliminarProductoCarrito {
  background-color: red;
  color: #fff;
}
#cart footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 20%;
  background-color: #dddddd;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: sans-serif;
  color: rgb(56, 56, 56);
}
#cart footer div {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
}

.cartVisible {
  opacity: 1 !important;
  right: 0 !important;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
  z-index: 20;
  grid-column: 1/13;
  height: 100%;
  min-height: 90px;
  width: 100%;
  background-color: green;
}
.opacityOn {
  opacity: 1 !important;
}

#productOpenedBackground {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -2000;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
#productOpenedBackground #productOpened {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  align-self: center;
  background-color: #fff;
  border-radius: 20px;
  width: 80%;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  height: 0;
}
#productOpenedBackground #productOpened .openedImg {
  grid-row: 2/12;
  grid-column: 2/7;
  height: 100%;
}
@media all and (max-width: 1000px) {
  #productOpenedBackground #productOpened .openedImg {
    grid-row: 4/7;
    grid-column: 2/6;
    width: 100%;
    height: auto;
  }
}
#productOpenedBackground #productOpened .openedName {
  grid-row: 2;
  grid-column: 7/12;
  font-size: 2rem;
}
@media all and (max-width: 1000px) {
  #productOpenedBackground #productOpened .openedName {
    grid-row: 2;
    grid-column: 2/12;
    width: 100%;
    height: auto;
  }
}
#productOpenedBackground #productOpened .openedDescription {
  grid-row: 3/11;
  grid-column: 7/12;
  font-size: 1.3rem;
}
@media all and (max-width: 1000px) {
  #productOpenedBackground #productOpened .openedDescription {
    grid-row: 3/7;
    grid-column: 7/12;
    width: 100%;
    height: auto;
  }
}
#productOpenedBackground #productOpened .openedPrice {
  grid-row: 10;
  grid-column: 8/10;
  font-size: 1.7rem;
}
@media all and (max-width: 1000px) {
  #productOpenedBackground #productOpened .openedPrice {
    grid-row: 11;
    grid-column: 7/10;
    width: 100%;
    height: auto;
  }
}
#productOpenedBackground #productOpened .openedPrice p {
  display: inline-block;
}
#productOpenedBackground #productOpened .openedPrice .openedPriceNumber {
  display: inline-block;
}
#productOpenedBackground #productOpened .addToCartBTN {
  height: 80%;
  grid-row: 10;
  grid-column: 10/12;
  background-color: #858585;
  color: #fff;
  border: 0px solid transparent;
  border-radius: 40px;
}
@media all and (max-width: 1000px) {
  #productOpenedBackground #productOpened .addToCartBTN {
    grid-row: 11;
    grid-column: 10/12;
    width: 100%;
    height: auto;
  }
}
#productOpenedBackground #productOpened .closeCard {
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../img/cross-icon.png);
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  justify-self: end;
  align-self: center;
  width: 30px;
  height: 30px;
  grid-column: 12;
  grid-row: 1;
  justify-self: center;
}

.productOpen {
  z-index: 2000 !important;
  opacity: 1 !important;
}
.productOpen #productOpened {
  height: 80% !important;
}

.hiddenDS {
  display: none;
}